main {
  min-height: 80vh;
}

h5 {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 0.6rem;
  padding: 0.6rem 0;
}

.rating span {
  padding-top: 0.1rem;
}

.image_layout {
  width: 500px;
  height: 484px;
}
.button-center {
  text-align: center;
}

.card-layout {
  margin-left: 3rem;
}

.product-details {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.cart-items-cards-container {
  margin-bottom: 1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 350px;
  padding: 40px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.carousel {
  text-align: center;
}
