main {
  min-height: 80vh;
}

h5 {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
}

.rating span {
  padding-top: 0.1rem;
}

.image_layout {
  width: 500px;
  height: 484px;
}
.button-center {
  text-align: center;
}
